<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aspect-Based Sentiment Analysis</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jqcloud.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/Chart.min.js' %}"></script>
    <script src="{% static '/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/js/jqcloud-1.0.4.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"><h4>Sentiment Analysis</h4></a>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>