{% block content %}

<canvas id="BarGraph"></canvas>

<script>
    var content = document.getElementById("BarGraph").getContext("2d");

    var data = {

      labels: [{% for l in aspect_bar_graph %} "{{ l.product_aspect }}", {% endfor %}],
      datasets: [{
        label: "Positve",
        backgroundColor: "#71b2fa",
        data: [{% for s in aspect_bar_graph %} "{{ s.pos_score }}", {% endfor %}]
      }, {
        label: "Negative",
        backgroundColor: "#f07481",
        data: [{% for s in aspect_bar_graph %} "{{ s.neg_score }}", {% endfor %}]
      }, {
        label: "Neutral",
        backgroundColor: "#72e48c",
        data: [{% for s in aspect_bar_graph %} "{{ s.neu_score }}", {% endfor %}]
      }]
    };

    var myBarChart = new Chart(content, {
      type: 'bar',
      data: data,
      options: {
        barValueSpacing: 20,
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
            }
          }]
        }
    }
});

</script>
{% endblock %}