{% extends "productsentiment/header.html"  %}
{% block content %}
    <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10 order-1" style="margin-left: 25px;"><br/>
              <div class="row">
                <div class="col">
                  <h3 class="text-info" style="text-transform: capitalize;">{{ aspect_details.product_aspect }} Details</h3><br/>
                </div>
                <div class="col">
                  <div style="  width: 67%;  margin: 3px auto;">
                      <div>
                        <canvas id="pie-chart"></canvas>
                      </div>
                    </div>
                </div>
              </div>

              <div class="card">
                  <h3 class="card-header text-white bg-primary">Positive Sentence
                      <span style="float: right">Score: {{ aspect_details.pos_score }}</span></h3>
                      <ul class="list-group list-group-flush">
                          {% for pos_sent in pos_sentence %}
                               <li class="list-group-item" > &#1422; {{ pos_sent }}</li>
                          {% endfor %}
                      </ul>
              </div>

              <div class="card">
                  <h3 class="card-header text-white bg-danger">Negative Sentence
                  <span style="float: right">Score: {{ aspect_details.neg_score }}</span></h3>
                  <ul class="list-group list-group-flush">
                      {% for neg_sent in neg_sentence %}
                           <li class="list-group-item"> &#1422; {{ neg_sent }}</li>
                      {% endfor %}
                  </ul>
              </div>

              <div class="card">
                  <h3 class="card-header text-white bg-success">Neutral Sentence
                  <span style="float: right">Score: {{ aspect_details.neu_score }}</span></h3>
                  <ul class="list-group list-group-flush">
                      {% for neu_sent in neu_sentence %}
                           <li class="list-group-item"> &#1422; {{ neu_sent }}</li>
                      {% endfor %}
                  </ul>
              </div>
          </div>
        </div>
    </div>

<script>
var ctx = document.getElementById("pie-chart");
var myChart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: ["Positive", "Negative", "Neutral"],
    datasets: [{
      backgroundColor: [
        "#3498db",
        "#e74c3c",
        "#2ecc71"
      ],
      data: [{{ aspect_details.pos_score }}, {{ aspect_details.neg_score }}, {{ aspect_details.neu_score }}]
    }]
  }
});
</script>
{% endblock %}